<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            hello, title
        </title>
    </head>
    <body>
        hello, body
        <form>
            <label for="Stock">Stock:</label><br> <input type="text" id="Stock" name="Stock"><br>

            <label for="Options">Number of Options:</label><br> <input type="text" id="options" name="options"><br>

            <label for="Number of Months">Number of Months:</label><br> <input type="text" id="NumberOfMonths" name="NumberOfMonths"><br>
        </form>

  <p>Value of Stock:   </p>

  <p>Value of Option:   </p>

  <p>Monthly Income:   </p>

    </body>
</html>
