<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Application</title>
</head>
<body>
    <h1>Hello World!</h1>
    Visit <a href = coursehelp> Course Help </a>
    Visit <a href = forum> Forum Page </a>
    visit <a href = calculator> Calculator </a>
    visit <a href = calendar>  Calender </a>
    visit <a href = contact> Contact </a>
    visit <a href = testing> Testing </a>
     
</body>
</html>